[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
neovim = "*"
virtualfish = "*"

[packages]
ipython = "*"
seaborn = "*"
numpy = "*"
Keras = "*"
scikit-learn = "*"
pydub = "*"
pytest = "*"
requests = "*"
"beautifulsoup4" = "*"

[requires]
python_version = "3.5"
